@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --line-border-fill: #7400b8;
  --line-border-empty: #ebc8ff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  background: #f6f7fb;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  background: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
  content: "";
}

.progress {
  background: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.4s ease;
}

.circle {
  border-radius: 50%;
  background-color: #fff;
  color: #999;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: all 0.4s ease-in;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background: var(--line-border-fill);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5em 1.2em;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background: var(--line-border-empty);
  cursor: not-allowed;
}
