@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

.btn {
  background: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5em 3em;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}
